<table class="table table-striped container">
  <thead>
    <tr>
      <th>Count</th>
      <th>Tag</th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td>
          <span class="badge bg-secondary"><%= tag.taggings_count %></span>
        </td>
        <td>
          <%= link_to tag, tag_url(tag.name) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
