/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require bootstrap-tagsinput
 *= require_self
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";


.bootstrap-tagsinput {
  @extend .form-control;

  .label {
    @extend .badge;
  }

  .label-info {
    @extend .bg-info;
  }
}

.job .badge,
.job-header .badge,
.tags .badge {
  text-decoration: none;
}

.job-header {
  background-color: lighten(#2373db, 45);
}

.job-rows {
  .card-header,
  .card-footer {
    @extend .bg-body;
  }

  .job {
    --bs-card-border-color: rgba(0,0,0,0);
    --bs-card-spacer-y: 0;
    --bs-card-cap-padding-y: 0;

    border-bottom: 1px solid var(--bs-border-color-translucent);

    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 15rem;
    grid-template-rows: 1fr;
    grid-template-areas: 'header actions' 'body actions';

    margin-left: -1rem;
    margin-right: -1rem;

    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;

    .card-header {
      grid-area: header;
    }

    .card-footer {
      grid-area: actions;
      text-align: right;
    }

    .card-body {
      grid-area: body;
    }
  }
}
